

<div class="container pb-3">
  <div class="row">
<div class="card text-center signup-hero  pb-3" >
  <div class="card-header fs-1">
    THANK YOU FOR YOUR PURCHASE!
  </div>
  <div class="card-body">
    <h5 class="card-title fs-3">Your special treat is on the way...</h5>
    
    <div id="IframeWrapper" style="position: relative;">
    <div id="iframeBlocker" style="position: absolute; top: 0; left: 0; width:95%; height:95%;z-index:2"></div>
         <iframe src="https://giphy.com/embed/wZtxwyGdLV838qwYNt" width="480" height="270" frameBorder="0"></iframe><p>
    </div>


    <a href="/dashboard" class="btn btn-danger">Account Dashboard</a>
    <a href="/" class="btn btn-danger">Home</a>
  </div>
  </div>

  </div>
</div>


