<style>
#cardSize{
    margin-top: 125px;
    margin-left: 75px;
    margin-right: 75px;
}

.card-header{
    font-size: 25px;
    font-weight: bold;

}
h5{
    font-size: 25px;
    font-weight: bold;
    
}




</style>




<div class="card text-center" id="cardSize">
  <div class="card-header">
    THANK YOU FOR YOUR PURCHASE!
  </div>
  <div class="card-body">
    <h5 class="card-title">Your speacil treat is on the way..</h5>
    <iframe src="https://giphy.com/embed/WREzof7kcLIhm2NDjD" width="480" height="450" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/boy-kid-cheerleader-WREzof7kcLIhm2NDjD"></a></p>
    <a href="/dashboard" class="btn btn-danger">Dashboard</a>
    <a href="/themes" class="btn btn-danger">Themes</a>
  </div>
   <div class="card-footer text-muted">

  </div>
</div>

<br>