<style>
#cardSize{
    margin-top: 125px;
    margin-left: 75px;
    margin-right: 75px;
}

.card-header{
    font-size: 25px;
    font-weight: bold;

}
h5{
    font-size: 25px;
    font-weight: bold;
    
}




</style>




<div class="card text-center" id="cardSize">
  <div class="card-header">
    THANK YOU FOR YOUR PURCHASE!
  </div>
  <div class="card-body">
    <h5 class="card-title">Your speacil treat is on the way..</h5>
    <iframe src="https://giphy.com/embed/wZtxwyGdLV838qwYNt" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/guavajuice-sprinkles-guava-juice-bath-tub-wZtxwyGdLV838qwYNt"></a></p>
    <a href="/dashboard" class="btn btn-danger">Dashboard</a>
    <a href="/" class="btn btn-danger">Home</a>
  </div>
   <div class="card-footer text-muted">

  </div>
</div>

<br>